@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');

.button {
  background-color: red;
  padding: 0;
  border: none;
  color: #fff;
  height: 40px;
  border-radius: 25px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.65); 
  box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.65);
}