@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');

.button {
  background-color: red;
  padding: 0;
  border: none;
  color: #fff;
  /* width: 90%; */
  height: 40px;
  border-radius: 25px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
}