.home {
  background-color: rgb(10, 10, 10);
  height: 100vh;
}

.header {
  height: 11vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  margin-left: 15px;
  font-family: 'Comforter', cursive;
  font-size: 36px;
  font-weight: 400;
}

.title__green {
  color: #008000;
}

.title__red {
  color: #ff0000;
}

.basketIcon {
  color: white;
  margin-right: 32px;
  font-size: 28px;
}

.main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pizza-name {
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  width: auto;
  margin: 0;
  color: #fff;
}