@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Oswald:wght@400;700&family=Source+Serif+4:wght@500&family=Supermercado+One&display=swap');

:root {
  --main-color-home: rgb(10, 10, 10);
}

.home {
  background-color: var(--main-color-home);
  height: 100vh;
  overflow: hidden;
}

.header__home {
  height: 11vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__header {
  color: white;
  margin-left: 15px;
  font-family: 'Comforter', cursive;
  font-size: 36px;
  font-weight: 400;
}

.title__green {
  color: #008000;
}

.title__red {
  color: #ff0000;
}

.basket__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 12px;
}

.basket__icon {
  color: white;
  font-size: 28px;
}

.amount__basket {
  position: relative;
  border-radius: 50%;
  background-color: #ff0000;
  color: var(--main-color-home);
  width: 18px;
  top: -6px;
  left: -10px;
  padding: 1px;
  text-align: center;
  font-family: 'Supermercado One', cursive;
  font-weight: 400;
  color: #fff;
}

.pizza {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  height: 54vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name__pizza {
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  width: auto;
  margin: 0;
  color: #fff;
}

.description__pizza {
  margin-top: 5px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.igredients__description {
  color: rgb(133, 133, 133);
  font-family: 'Oswald', sans-serif;
  width: 56%;
}

.title__igredients {
  font-weight: 700;
  margin: 0;
}

.igredients__igredients {
  font-weight: 400;
  margin: 5px 0 0 0;
}

.price__description {
  width: 42%;
  display: flex;
  flex-direction: column;
}

.title__price {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 0;
  color: rgb(133, 133, 133);
}

.price__price {
  font-family: 'Supermercado One', cursive;
  font-weight: 400;
  color: #008000;
  text-align: center;
  font-size: 3rem;
}

.exchange__pizza {
  margin-top: 15px;
}

.button__exchange {
  display: flex;
  justify-content: space-between;
}

.left__button, .right__button {
  background: none;
  border: none;
  padding: 0;
}

.icon__left, .icon__right {
  font-size: 34px; 
  color: rgb(133, 133, 133);
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.img__footer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  width: 90%;
  position: absolute;
  top: 25%;
}
