:root {
  --main-color-home: rgb(10, 10, 10);
}

.home {
  background-color: var(--main-color-home);
  height: 100vh;
}

.header {
  height: 11vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  margin-left: 15px;
  font-family: 'Comforter', cursive;
  font-size: 36px;
  font-weight: 400;
}

.title__green {
  color: #008000;
}

.title__red {
  color: #ff0000;
}

.basket {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 12px;
}

.basket__icon {
  color: white;
  font-size: 28px;
}

.amount__basket {
  position: relative;
  border-radius: 50%;
  background-color: yellow;
  color: var(--main-color-home);
  width: 18px;
  top: -6px;
  left: -10px;
  padding: 1px;
  text-align: center;
  font-family: 'Supermercado One', cursive;
  font-weight: 400;
}

.main {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.pizzaName {
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  width: auto;
  margin: 0;
  color: #fff;
}